h1 {
     color: red;
}
.box {
       width: 100px;
       height: 120px;
       background: red;
}
.border {
    border : 2px solid black;
}
.input-group {
    margin-bottom: 10px;
}

.input-group > input {
    display: block;
}

.hide{
    display:none;
}
.div {
    display:inline-block;
    border-right: 2px solid gray;
    margin:5px;
    padding:5px;
}