
<section [class.hide]="isDataSubmitted">
    <div class="input-group">
        <label>ID</label>
        <input type="number" name="id" (keyup)="setValue($event)" [value]=[bookdetails.id]/>
   </div>
  <div class="input-group">
       <label>BookName</label>
       <input type="text" name="bookname" (keyup)="setValue($event)" [value]=[bookdetails.bookname]/>
  </div>
  <div class="input-group">
    <label>Author Name</label>
    <input type="text" name="authorName" (keyup)="setValue($event)" [value]=[bookdetails.authorName]/>
</div>  


<button (click)="submitData()">Submit</button>
</section>

<section [class.hide]="!isDataSubmitted">
  <p>Thank you for your details</p>
  <hr>
  <p>ID: {{ bookdetails.id }}</p>
  <p>Book Name: {{ bookdetails.bookname }}</p>
  <p>Author Name: {{ bookdetails.authorName }}</p>

  <button (click)="resetForm()">Submit another details</button>
</section>


<div [ngStyle]='ngStyles'></div>
<select (change)="handleEvent1($event)"> 
    <option value="c">C</option>
    <option value="cpp">Cpp</option>
    <option value="c#">C#</option>
    <option value="java">JAVA</option>
</select>

<!--<p *ngIf="selectedSkill">Selected Skill set is {{ selectedSkill }}</p>
<section > 
  <div *ngFor="let user of users; let i = index">
    <p> Sr. no. {{ i+1 }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Skill: {{ user.skill }}</p>
    <button (click)="showAndEdit(user)">Show Details/Edit</button>
    
  </div>
</section>-->

<p>Name: {{ name1 | titlecase }}</p>
<p>Date: {{ today | date:'mediumDate' | lowercase }}</p>
<p>num: {{ num | percent:'2.1-2' }}</p>
<p>{{ num | currency:'INR':'rupee' }}</p>